<div class="flex h-100 position-relative">
  <div
    class="card shadow p-3 mb-5 bg-body rounded h-90 position-absolute create-form-container my-3"
    style="margin-right: 20px"
  >
    <h1 class="text-center py-2 bg-white">List of Users</h1>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Username</th>
          <th>Email</th>
          <th>Role</th>
          <th>Mobile</th>
          <th scope="col">Modify</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody class="bg-white">
        <tr *ngFor="let user of users" flex justify-content-center>
          <td>{{ user.firstname }}</td>
          <td>{{ user.lastname }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.usertype }}</td>
          <td>{{ user.mobile }}</td>
          <td>
            <a
              href="/dashboard/update/{{ user._id }}"
              routerLinkActive="active"
            >
              <button type="button" class="btn btn-success">Edit</button>
            </a>
          </td>
          <td>
            <button
              type="button"
              class="btn btn-danger"
              (click)="setDelete(user)"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
