<header class="bg-surface-primary border-bottom pt-6">
  <div class="container-fluid mb-0">
    <div class="mb-npx">
      <div class="row align-items-center">
        <div class="col-sm-6 col-12 mb-4 mb-sm-0">
          <!-- Title -->
          <h1 class="h2 mb-0 ls-tight">Application</h1>
        </div> <!-- Actions -->
        <div class="col-sm-6 col-12 text-sm-end">
          <div class="mx-n1"><a href="#" class="btn d-inline-flex btn-sm btn-primary mx-1"> <span class=" pe-2"> <i
                  class="bi bi-person-circle"></i> </span> <span>Admin</span> </a> </div>
        </div>
      </div> <!-- Nav -->
    </div>
  </div>
</header> <!-- Main -->
<div>
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem">
          <div class="card-body p-2 text-left">
            <form [formGroup]="bugForm" (ngSubmit)="onSubmit()">
              <h1 class="mb-3 col-9 text-center">Submit Bug Details</h1>
              <div class="mb-3 col-9">
                <label for="moduleName" class="form-label">Module Name</label>
                <input type="text" class="form-control" id="moduleName" formControlName="moduleName">
              </div>
              <div class="mb-3 col-9">
                <label for="bugTitle" class="form-label">Bug Title</label>
                <input type="text" class="form-control" id="bugTitle" formControlName="bugTitle">
              </div>
              <div class="mb-3 col-9">
                <label for="deviceDetails" class="form-label">Device Details</label>
                <input type="text" class="form-control" id="deviceDetails" formControlName="deviceDetails">
              </div>
              <div class="mb-3 col-9">
                <label for="bugDetails" class="form-label">Bug Details</label>
                <textarea class="form-control" id="bugDetails" rows="3" formControlName="bugDetails"></textarea>
              </div>
              <div class="mb-3 col-9">
                <label for="fileInput" class="form-label">Photos of Bug</label>
                <input type="file" class="form-control" id="fileInput" (change)="handleFileInput($event)" multiple>
                <small id="fileInputHelp" class="form-text text-muted">Attach any relevant files.</small>
              </div>
              <button type="submit" class="btn btn-primary col-9" style="margin-top: 5px;margin-bottom: 0px;">Submit</button>
            </form>
            <!-- <div *ngIf="submitted && bugReportId">
  <p>Bug report submitted with ID: {{ bugReportId }}</p>
  <img *ngIf="base64ImageString" [src]="'data:image/png;base64,' + base64ImageString" alt="Bug Screenshot">
</div> -->
          </div>